<form action="/create" method="POST">
<link rel="stylesheet" href="/css/style.css">
    <input
      type="text"
      name="title"
      placeholder="Title"
      required>

    <textarea
      name="content"
      placeholder="Write blog..."
      required>
    </textarea>

    <button type="submit">
      Publish
    </button>

</form>